* {box-sizing: border-box}

table {border-spacing: 0; margin-bottom: 10px}
table th {border: 1px solid rgba(0,0,0, .14)}
table td {border: 1px solid rgba(0,0,0, .14)}

form {width: 50%; display: inline-block;}
form > div {margin-bottom: 5px;}
form label:not(.fake-label) {display: inline-block; width: 150px;}
form input:not([type='radio']) {display: inline-block; width: 150px;}
form select {display: inline-block; width: 150px;}
form textarea {display: inline-block; width: 150px;}
#link {margin-top: 3000px; color: #FF0000}

/* uzdevumu pildisana */
th {
    text-align: left;
}
tr #day {
    background-color: #FF0000;
}
.classNrOne.classNrTwo {
    text-align: center;
}
tr:first-child {
    font-size: 40px;
}
form * {
    font-size: 25px;
}
[for="first-name"] {
    font-size: 0.5rem;
}
ul, div {
    background-color: #FFFF00;
}
:not(.classNrOne):not(.classNrTwo):not(.fake-label){
    text-align: right;
}
td:hover {
    background-color: black;
}
th::after {
    content: "smt is inserted";
}